USE [master]
GO
/****** Object:  Database [Exercise]    Script Date: 2/14/2017 11:05:44 PM ******/
CREATE DATABASE [Exercise]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Exercise', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.JAMESWOLPERT\MSSQL\DATA\Exercise.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Exercise_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.JAMESWOLPERT\MSSQL\DATA\Exercise_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Exercise].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Exercise]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/14/2017 11:05:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [DateOfBirth]) VALUES (1, N'Khoa', N'Huynh', N'huynhducdangkhoa@gmail.com', CAST(N'1994-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [DateOfBirth]) VALUES (2, N'sa', N'sa', N'sa@gmail.com', CAST(N'1994-01-12 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
USE [master]
GO
